*{
	margin: 0rem;
	padding: 0rem;
}
body{
	background: #FAFAFA;
}

.content{
	font-family: Roboto, sans-serif;
	margin: 2rem 6rem 2rem 5rem;
	width: 	85%;
	height: 100%;
}
.row1{
	display: grid;	
	grid-template-columns: 	1fr 1fr;
	background: transparent;
	height: 7.5rem;
}
.row1 .logo .ishimwe{
	font-weight: 300;
	text-shadow: .125rem 0.25rem .25rem #A6A6A6;
	font-size: 	1.5625rem;
	
}
.row1 .logo .bernard{
	font-weight: 700;
	text-shadow: .125rem .25rem .25rem #A6A6A6;
	font-size: 	1.5625rem;
	
}
.row1 .nav{
	float: left;
	display: flex;
	flex-direction: column;
}

.row1 .nav .line{
	width: 80%;
	height: 0.6125rem;
	background: #000;
}
.row1 .nav .line .demiline{
	width: 20%;
	height: 0.6125rem;
	background: #515151;
	margin-left: calc(40%);
	animation-name: borderAnim;
	animation-duration: 1s; 
}
.row1 .nav ul li:nth-child(3) a{
	color: #D70046;
	font-weight: 700;
}
@keyframes borderAnim{
	from{margin-left: 0rem;}
	to{margin-left: calc(40%);}
}
.row1 .mobileNavigation{
	display: none;

}
.row1 .mavigationBarMobile{
	background: #FAFAFA;
	width: 80%;
	height: 100%;
	padding: 1rem;
	position: absolute;
	text-align: center;
	display: none;
	float: right;
	animation-name: googleClone;
	animation-duration: 1s;

}
@keyframes googleClone{
	from{width: 0%;}
	to{width: 80%;}
}

.row1 .mavigationBarMobile ul li{
	margin-top: .4rem;
	text-decoration: none;
	color: #686868;
	font-weight: 700;
	font-family: Roboto, sans-serif;

}
.row1 .mavigationBarMobile ul li a{
	text-decoration: none;
	color: #686868;
	font-size: 25px;
	margin-top: 2rem;

}
.row1 .mavigationBarMobile #back{
	color: #D70046;
	cursor: pointer;
	font-size: 25px;
}
.row1 .mavigationBarMobile #back:hover{
	font-size: 30px;
}

.row1 .mavigationBarMobile ul li a:hover{
	color: #000;

}

ul{
	list-style-type: none;
}
.row1 .nav ul li:nth-child(1){
	margin-left: 0px;
}
.row1 .nav ul li{
	float: 	left;
	text-decoration: none;
	margin-left: 3.125rem;
}

.row1 .nav ul li:last-child{
	align-items: center;
	text-align: center;
	border: .125px #D70046 solid;
	padding: 0rem 1.875rem 0rem 1.875rem;
	border-radius: 0.3125rem;
}
.row1 .nav ul li:nth-child(1){
	color: #D70046;
}
.row1 .nav ul li a{
	font-weight: 500;
	font-size: 0.9375rem;
	text-decoration: none;
	list-style-type: none;
	color: #000;
}
.row2{
display: grid;
grid-template-columns: 1fr 1.5fr ;
height: 34rem;
}
.row2 .col1{
	background-image: url("../images/introducer.png");
	background-repeat: no-repeat;
	height: 100%;
	padding: 2rem;

}
.row2 .col1 h3{
	font-weight: 500;
	font-size: 2.1875rem;
	color: #fff;
}
.row2 .col1 ul{
	margin-top: 2rem;
	margin-left: 2rem;
}
.row2 .col1 ul li{
	color: #fff;
	list-style-type: disc;
	margin-top: 2rem;
}
.row2 .col1 ul li span{
	font-weight: 700;
}
.row2 .col2 h2{
	font-size: 2.1875rem;
}
.row2 .col2 p{
	font-weight: 700;
	margin-top: 0.9375rem;
	font-size: 1.2375rem;
}
.row2 .col2 input{
	background: transparent;
	border: 0.125rem #D70046 solid;
	font-size: 1.2375rem;
	width: 50%;
}

.row2 .col2 .searchButton{
	text-align: center;
	height: 3.0375rem;
	cursor: pointer;
	display: grid;
	margin-top: .7rem;
	width: 8.625rem;
	padding: 0rem;
	color: #fff;
	text-align: center;
	justify-content: center;
	border-radius: 0.625rem;
 
}
.row2 .col2 button{
	background: #D70046;
	cursor: pointer;
	font-weight: 700;
	color: #fff;
	border: none;
	width: 50%;
	font-size: 1.5rem;
	margin-top: 2rem;
	padding: .5rem;
	border-radius: .3rem;
 }
 .row1 .logedInCredentials .profilePicture{
	 border-radius: 50%;
	 background-image: url("../assets/bernardIshimwe.png");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 5rem;
	 width: 5rem;
 }
 .row2 .col2 .forgot{
	 font-weight: 500;
	 margin-top: .4rem;
 }
 .row2 .col2 .forgot a{
	 color: #D70046;
 }

 @media only screen and (max-width: 480px){
	.content{
		margin: 1rem 3rem 1rem 1rem;
		font-size: 15px;

	}
	.row1{
		display: flex;
		flex-direction: row;
	}
	.row1 .mobileNavigation{
		display: block;
		cursor: pointer;
		margin-top: 0rem;
	}
	
	.row1 .mobileNavigation .line{
		height: 0.225rem;
		width: 2.25rem;
		background: #000;
		margin-top: 0.125rem;
	}
	.row1 .mobileNavigation{
		float: right;
		margin-left: calc(40%);
	}
	.row1 .nav{
		display: none;
	}
	.row2{
		display: flex;
		flex-direction: column;
		margin-bottom: 15rem;
	} 
	.row2 .col2 input{
	
		width: 100%;
	}
	.row2 .col2 button{
		width: 100%;
	 }
}