*{
	margin: 0rem;
	padding: 0rem;
}
body{
	background: #FAFAFA;

}

.content{
	font-family: Roboto, sans-serif;
	margin: 2.5rem 7.5rem 2rem 7.5rem;
	width: 	85%;
	height: 100%;
	overflow-x: hidden;
}
.row1{
	display: grid;	
	grid-template-columns: 	1fr 1fr;
	background: transparent;
	height: 7.5rem;
}
.row1 .logo .ishimwe{
	font-weight: 300;
	text-shadow: .125rem 0.25rem .25rem #A6A6A6;
	font-size: 	1.5625rem;

}
.row1 .logo .bernard{
	font-weight: 700;
	text-shadow: .125rem .25rem .25rem #A6A6A6;
	font-size: 	1.5625rem;

}
.row1 .nav{
	float: left;	
	display: flex;
	flex-direction: column;
}
.row1 .nav .line{
	width: 80%;
	height: 0.6125rem;
	background: #000;
}
.row1 .nav ul li:nth-child(1) a{
	color: #D70046;
}
@keyframes borderAnim{
	from{margin-left: calc(20%);}
	to{margin-right: 0rem;}
}
.row1 .mobileNavigation{
	display: none;

}
.row1 .mavigationBarMobile{
	background: #FAFAFA;
	width: 100%;
	height: 100%;
	padding: 1rem;
	position: absolute;
	text-align: center;
	display: none;
	float: right;

}

.row1 .mavigationBarMobile ul li{
	margin-top: .4rem;
	text-decoration: none;
	color: #686868;
	font-weight: 700;
	font-family: Roboto, sans-serif;

}
.row1 .mavigationBarMobile ul li a{
	text-decoration: none;
	color: #686868;
	font-size: 25px;
	margin-top: 2rem;

}
.row1 .mavigationBarMobile #back{
	color: #D70046;
}

.row1 .mavigationBarMobile ul li a:hover{
	color: #000;

}
ul{
	list-style-type: none;
}
.row1 .nav ul li:nth-child(1){
	margin-left: 0px;
}
.row1 .nav ul li{
	float: 	left;
	text-decoration: none;
	margin-left: 3.125rem;
}

.row1 .nav ul li:last-child{
	align-items: center;
	text-align: center;
	border: .125px #D70046 solid;
	padding: 0rem 1.875rem 0rem 1.875rem;
	border-radius: 0.3125rem;
}
.row1 .nav ul li:nth-child(1){
	color: #D70046;
}
.row1 .nav ul li a{
	font-weight: 500;
	font-size: 0.8375rem;
	text-decoration: none;
	list-style-type: none;
	color: #000;
}

.row2{
	margin-top: 3.25rem;
	height: 35rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.row2 .container{
	margin-left: 30%;
	border-radius: .5rem;
	width: 20.625rem;
	height: 26.25rem;
	background-image: url("../images/gradient.png");
	background-repeat: no-repeat;
	background-size: cover;
	animation-name: imagePro;
	animation-duration: 3s;

}

.row3 .card:nth-child(1) #first{
	font-family: Abril Fatface;
}
.row4 .card:nth-child(1) #partwo{
	font-size: 20px;
}
.row4 .card:nth-child(1) #third{
	font-size: 18px; margin-top: 10px;
}
.row4 .card:nth-child(1) #fourth{
	font-size: 20px;
}
.row4 .card:nth-child(1) img{
	margin-top: 10.625rem;
	margin-left: .9rem;
}
.row4 .card:nth-child(2) img{
	margin-top: 7.625rem;
	margin-left: .9rem;
}

.row2 .container .realme{
	width: 20.625rem;
	height: 26.25rem;
	margin-top: 1.25rem;
	margin-left: 1.25rem;
	background-image: url("../images/owner.PNG");
	background-size: cover;
	background-repeat: no-repeat;
}
.row2 .someContent{
	font-weight: 500;
	font-size: 2.777778rem;
	color: #000;
	animation-name: comeUpAnnimation;
	animation-duration: 1s;

}
.row2 .someContent span{
	color: #D70046;
}
.row3 .card{
	width: 28.125rem;
	margin: 0rem;
	padding: 2.8125rem;
	height: 45rem;
}
.row3 .card:hover{
	box-shadow: 5rem 5rem 5rem 5rem #E7DDE0 ;


}

.row3 .card:nth-child(1){
	background: #FFE9E2;



}
.row3 .card:nth-child(1) h2{
	font-size: 2.1875rem;

}
.row3 .card:nth-child(1) img{
	width: 30rem;
	height: 26.25rem;
	margin-top: 8rem;
	margin-left: 1rem;

}

.row3 .card:nth-child(1) p{
	font-size: 1.1625rem;
	margin-top: 1.25rem;

}

.row3 .card:nth-child(2) h2{
	font-size: 2.1875rem;

}
.row3 .card:nth-child(2) p{
	font-size: 1.5625rem;

}
.row3 .card:nth-child(2){
	background: #E6DBEB;
	margin-left: 2rem;
}


.row4 .card{
	width: 28.125rem;
	margin: 0rem;
	padding: 2.8125rem;
	cursor: pointer;
	height: 45rem;
}
.row4 .card:hover{
	box-shadow: 5rem 5rem 5rem 5rem #E6EDFF ;
}
.row4{
	display: flex;
	flex-direction: row;
}

.row3 .card:nth-child(1) #first{
	font-family: Abril Fatface;
}
.row3 .card:nth-child(1) #partwo{
	font-size: 20px;
}
.row3 .card:nth-child(1) #third{
	font-size: 18px; margin-top: 10px;
}
.row3 .card:nth-child(1) #fourth{
	font-size: 20px;
}
.row3 .card:nth-child(2) #first{
	font-family: Abril Fatface;
}
.row3 .card:nth-child(2) #partwo{
	font-size: 20px;
}
.row3 .card:nth-child(2) #third{
	font-size: 18px; margin-top: 10px;
}
.row3 .card:nth-child(2) #fourth{
	font-size: 20px;
}




.row3 .card:nth-child(1) img{
	margin-top: 7.8125rem;
}
.row3 .card:nth-child(2) img{
	margin-top: 10.5125rem;
}

.row4 .card:nth-child(1) h2{
	font-size: 2.1875rem;

}
.row4 .card:nth-child(1) p{
	font-size: 1.5625rem;

}
.row4 .card:nth-child(2) h2{
	font-size: 2.1875rem;

}
.row4 .card:nth-child(2) p{
	font-size: 1.5625rem;

}

.row4 .card:nth-child(1){
	background: #E6EDFF;


}
.row4 .card:nth-child(1) #first{
	font-family: Abril Fatface;/*///////////*/
}
.row4 .card:nth-child(1) #partwo{
	font-size: 20px;
}
.row4 .card:nth-child(1) #third{
	font-size: 18px; margin-top: 10px;
}
.row4 .card:nth-child(1) #fourth{
	font-size: 20px;
}


.row4 .card:nth-child(2) #first{
	font-family: Abril Fatface;/*///////////*/
}
.row4 .card:nth-child(2) #partwo{
	font-size: 20px;
}
.row4 .card:nth-child(2) #third{
	font-size: 18px; margin-top: 10px;
}
.row4 .card:nth-child(2) #fourth{
	font-size: 20px;
}




.row4 .card:nth-child(1) img{
	margin-top: 7.625rem;
	margin-left: .9rem;
}
.row4 .card:nth-child(2){

	background: #F9F7C7;


}
.row3{
	/*height: 35rem;*/
	display: flex;
	flex-direction: row;
	width: 100%;
}
.row4{
	margin-top: 3rem;
	height: 35rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer{
	margin-top: 18rem;
	border-top: 0.125rem #eee solid;
	height: 20rem;
	display: inline-block;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.footer h2{
	font-weight: 700;

}
.footer p{
	font-weight: 500;
}
.footer h3{
	font-weight: 300;
	color: #DE52C5;
}
.footer .socialIconPack{
	display: flex;
	flex-direction: row;
	margin-top: 6.25rem;
}
.footer img{
	width: 3rem;
	height: 3rem;
	margin-left: 0.625rem;

}
@keyframes comeUpAnnimation{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes imagePro{
	from{margin-left: 10%;}
	to{margin-left: 30%;}
}
@media only screen and (max-width: 480px){
	.row1 .mobileNavigation{
		display: block;
		cursor: pointer;
	}

	.row1 .mobileNavigation .line{
		height: 0.225rem;
		width: 2.25rem;
		background: #000;
		margin-top: 0.125rem;
	}
	.row1 .mobileNavigation{
		float: right;
		margin-left: 10rem;

	}
	.row1 .nav{
		display: none;
	}
	.content{
		margin: 1rem 3rem 1rem 1rem;
	}
	.row2{
		display: flex;
		flex-direction: column;
	}
	.row2 .someContent{
		font-size: 1.875rem;
	}
	.row2 .container{
		width: 15.875rem;
		height: 20rem;
		margin-left: 10%;
		animation-name: mobileAnimation;
		animation-duration: 2s;

	}
	.row2 .container .realme{
		width: 15.875rem;
		height: 20rem;
		animation-name: none;

	}
	.row3{
		display: flex;
		flex-direction: column;
		height: 70rem;
	}
	.row3 .card{
		margin-top: 2rem;;
	}
	.row4 .card{
		margin-top: 2rem;;
	}

	.row3 .card:nth-child(2){
		margin-left: 0;

	}
	.row4{
		display: flex;
		height: 70rem;
		flex-direction: column;
		margin-top: 35.875rem;
	}
	.footer{
		clear: both;
	}	/*////////////////////////*/

	.row3 .card:nth-child(1) h2{
		font-size: 2.1875rem;

	}
	.row3 .card:nth-child(1) p{
		font-size: 1.5625rem;

	}
	.row3 .card:nth-child(2) h2{
		font-size: 2.1875rem;

	}
	.row3 .card:nth-child(2) p{
		font-size: 1.5625rem;

	}
	.row3{
		display: flex;
		height: 70rem;
		flex-direction: column;
	}
	.row3 .card{
		width: 100%;
	}
	.row3 .card:nth-child(2){
		width: 100%;
		height: 45rem;
	}

	.footer{
		margin-top:40rem;
	}
	@keyframes mobileAnimation{
		from{margin-left: 1%;}
		to{margin-left: 10%;}
	}
} 